@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lekonifont';
  src: url('/fonts/medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root  {
    --background: 204 100% 95%;
    --foreground: 204 5% 0%;
    --card: 204 50% 90%;
    --card-foreground: 204 5% 10%;
    --popover: 204 100% 95%;
    --popover-foreground: 204 100% 0%;
    --primary: 204 100% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 166 30% 85%;
    --muted-foreground: 204 5% 35%;
    --accent: 166 30% 80%;
    --accent-foreground: 204 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 204 5% 90%;
    --border: 204 30% 50%;
    --input: 204 30% 18%;
    --ring: 204 100% 51%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 204 50% 5%;
    --foreground: 204 5% 90%;
    --card: 204 50% 0%;
    --card-foreground: 204 5% 90%;
    --popover: 204 50% 5%;
    --popover-foreground: 204 5% 90%;
    --primary: 204 100% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 166 30% 15%;
    --muted-foreground: 204 5% 60%;
    --accent: 166 30% 15%;
    --accent-foreground: 204 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 204 5% 90%;
    --border: 204 30% 18%;
    --input: 204 30% 18%;
    --ring: 204 100% 51%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground box-border;
    font-family: 'lekonifont', sans-serif;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}


/* Custom dark mode scrollbar styles */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* height of the horizontal scrollbar */
  background-color: #2c2c2c; /* darker color for the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #4b4b4b; /* darker yet visible color for the scrollbar thumb */
  border-radius: 7px; /* rounded corners on the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #686868; /* slightly lighter color on hover for better interaction feedback */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-rotate {
  animation: rotate 8s linear infinite;
}

.animate-fade {
  animation: fadeInOut 3s ease-in-out infinite;
}


/* styles.css */
:root {
  --scrollbar-thumb-color: rgba(128, 128, 128, 0.6); /* Light gray for light mode */
  --scrollbar-thumb-hover-color: rgba(128, 128, 128, 0.8); /* Darker gray for hover in light mode */
  --scrollbar-thumb-border-radius: 12px; /* Rounded corners */
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb-color: rgba(200, 200, 200, 0.3); /* Lighter gray for dark mode */
    --scrollbar-thumb-hover-color: rgba(200, 200, 200, 0.5); /* Slightly darker for hover in dark mode */
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--scrollbar-thumb-color) transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
  border-radius: var(--scrollbar-thumb-border-radius); /* Rounded corners of the scrollbar thumb */
  border: 2px solid transparent; /* Space around the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color); /* Color of the scrollbar thumb on hover */
}


